@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #1E2022;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* ? Navbar */

  .home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background-size: 100vw 320px;
    background-repeat: no-repeat;
    background-image: url('./assets/main_home.svg');
  }

  .textmenu {
    @apply font-bold text-[16px] text-white1 tracking-[1.61px];
  }

  .textWallet {
    @apply font-bold text-[12px] text-white1 tracking-[2.11px];
  }
  /* ? Header (component search) */
  .tittleHeader{
    @apply font-bold text-[24px] text-white1 tracking-[4.82px] text-center
  }
  .textInput {
    @apply font-bold text-[12px] text-white1 tracking-[2.11px] text-center;
  }
  .placeholder1{
    @apply placeholder:font-bold placeholder:text-[21px]
  }
  .tittleCard {
    @apply font-bold text-[18px] text-white1 tracking-[4.38px] text-center
  }
  .tittlePop{
    @apply font-bold text-[36px] text-pink2 tracking-[3.62px] text-center
  }
  .collage{
   @apply w-full h-[500px] grid grid-cols-6 auto-rows-[82px] gap-[20px]
  }
  .textFacts{
    @apply font-bold text-[24px] text-white tracking-[2.41px] text-left
  }
}

@layer components {
  /* ? Navbar */
  .walletConnect {
    @apply border-solid border-4 border-white1 rounded-[10px] w-[131.17px] h-[38.23px] hover:bg-pink1 hover:border-pink1 hover:cursor-pointer
  }

  .walletSucces {
    @apply border-solid border-4 border-green1 rounded-[10px] w-[131.17px] h-[38.23px];
  }
/* ? Header (component search) */
  .inputSearch{
    @apply w-[290px] h-[50px] bg-gradientGray rounded-[10px] border-none text-[24px] font-bold text-white1 pl-[2rem]
  }
  .card{
    @apply w-[300px] h-[500px] relative bg-gradientPink shadow-13xl rounded-[20px] 
  }
  .progressBar{
    @apply bg-pink1 text-xs font-bold textmenu text-center p-[5px] leading-none rounded-full
  }
  .cardButton{
    @apply w-[150px] h-[30px] bg-pink1 rounded-[50px] textWallet text-center
  }
  .buttonMain {
    @apply w-[250px] h-[60px] bg-pink1 rounded-[50px] font-bold text-[18px] text-white1 tracking-[2.81px] text-center
  }
  .degradFooter{
    @apply w-full h-[600px] bg-gradientPink2
  }
  .modal{
    @apply w-[100vw] h-[100vh] bg-rgbaBlack fixed top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] flex items-center justify-center
  }
  .cardModal{
    @apply relative w-[1120px] h-[80%] z-[2] bg-background rounded-[30px] p-[80px] pt-[60px] flex flex-col items-center gap-[60px] overflow-scroll
  }
  .cardInfo{
    @apply w-[357px] h-[790px] bg-gradientGray2 rounded-[10px]
  }
  .soldOut {
    @apply h-[48px] w-[240px] bg-pink2 rounded-[4px] flex justify-center items-center cursor-default text-white1 text-[16px] font-bold cursor-pointer
  }
  .btnContact{
    @apply cursor-default w-[150px] h-[50px] bg-transparent text-white1 text-[16px] font-bold cursor-pointer bg-pink2 rounded-[60px] hover:bg-pink1 m-2
  }
  .btnBuy{
    @apply w-[225px] h-[50px] cursor-default text-white1 text-[16px] font-bold cursor-pointer bg-pink2 rounded-[60px] hover:bg-pink1 m-2
  }
  .inputMain{
    @apply w-[300px] h-[60px] border-[1px] border-solid border-white1 rounded-[40px] bg-transparent
  }
}

@layer utilities {
  .imageStyle{
   @apply object-cover w-full h-full rounded-[10px]
  }
  .select{
    @apply w-[177px] h-[72px] font-bold text-[18px] text-white1 tracking-[1.81px] text-center flex items-center justify-center

  }

}











